# Consult release notes for supported versions of Django, Wagtail, and Python.
# https://docs.coderedcorp.com/wagtail-crx/releases/
coderedcms==4.0.*
wagtail==6.2.*
asgiref==3.8.1
Django==5.1.2
python-dateutil==2.9.0
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2