asgiref==3.8.1
boto3==1.35.65
botocore==1.35.65
certifi==2024.8.30
charset-normalizer==3.4.0
coderedcms==4.0.1
dj-database-url==2.3.0
Django==5.1.2
django-sass==1.1.0
django-bootstrap5==24.2
django-environ==0.11.2
django-filter==24.3
django-modelcluster==6.3
django-storages==1.14.4
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.2
draftjs-exporter==5.0.0
idna==3.10
jmespath==1.0.1
l18n==2021.3
pillow==10.4.0
pillow_heif==0.20.0
psycopg2-binary==2.9.10
pydantic==2.9.2
pydantic-settings==2.6.1
python-dateutil==2.9.0
pytz==2024.2
requests==2.32.3
s3transfer==0.10.3
sqlparse==0.5.1
telepath==0.3.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vercel_blob==0.3.0
wagtail==6.2.2
wagtail-cache==2.5.1
wagtail-seo==2.5.0
whitenoise==6.8.0
Willow==1.9.0