{% extends "coderedcms/pages/web_page_notitle.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content_pre_body %}
{% if self.custom_cover_image %}
{% image page.custom_cover_image fill-1600x900 format-webp preserve-svg as custom_cover_image %}
<div class="hero-bg mb-5" style="background-image:url({{custom_cover_image.blob_url}});">
  <div class="hero-fg">
    <div class="container">
      <h1>{{page.title}}</h1>
    </div>
  </div>
</div>
{% else %}
<div class="container my-5">
  <h1>{{page.title}}</h1>
</div>
{% endif %}
{% endblock %}
